<!DOCTYPE html>
<html>
  <head>
  <link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet">
    <title>
      About This
    </title>
  </head>
  <body>
      <ul>
      <li><a href="https://globalbutton.noelbryan.repl.co">Home</a></li>
      <li><a href="https://globalbutton.noelbryan.repl.co/contact">Contact</a></li>
      <li><a href="https://globalbutton.noelbryan.repl.co/about">About</a></li>
    </ul>
    <h1>About</h1>
    <h2>This Project</h2>
    <p>Chances are, you are hear to learn what this is because I cant explain stuff very well. Basically, this is a button anybody can click, and the counter will go up. Its like a clicker game everybody can play? :) </p>
  </body>
</html>