<!DOCTYPE html>
<html>
  <head>
  <link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet">
    <title>
      About This
    </title>
  </head>
  <body>
      <ul>
      <li><a href="https://globalbutton.noelbryan.repl.co/">GlobalButton</a></li>
      <li><a href="https://globalbutton.noelbryan.repl.co/contact">Contact</a></li>
      <li><a href="https://globalbutton.noelbryan.repl.co/about">About</a></li>
    </ul>
    <h1>About</h1>
    <h2>This Project</h2>
    <p>This project is a button, in whch anybody can click. I have wanted to make something like this for a long, long time. Whenever 1 person touches the button, the count goes up for everybody. </p>
    <h2> About me</h2>
    <p>Im a person (ikr shocking). You can contact me through the contact me page.</p>
  </body>
</html>