<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <div class="center">
    <h1> Welcome to Global Button! </h1>
    <h3 class="counter" id="counter">Test</h3>
    <form action="/clicked" method="post">
      <a href=# id=test><button class='btn btn-default'>Click Me!</button></a>
    </form>
    <p> What happends when you click the button? The global counter goes up one. Anybody can veiw the website and see how many clicks there are, not just you!</p>
    <a href="https://repl.it/@NoelBryan/GlobalButton">Veiw me on Repl.It!</a>
    </div>
    </div>
    <script>
      var clicks = '{{ data }}';
      console.log(clicks)
      document.getElementById('counter').innerHTML = clicks
    </script>
  </body>
</html>